<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.system.navbar.rising"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.google.android.apps.nexuslauncher" android:category="android.theme.customization.navbar" android:priority="1"/>

    <application android:label="Rising" android:hasCode="false"/>
</manifest>
